.left {
    float: right;
  }
.custom-row{
    margin-left: -10px;
    margin-right: -10px;
}
.custom-row .col-12{
    padding-left: 10px;
    padding-right: 10px;
}
.custom-text{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
}
.help-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
}
.services-section img {
    width: 85%;
    height: auto;
    margin: auto;    
    display: block;
}
.navbar-text{
    font-weight: bold;
    font-size: small;
}
.logo{
    top: 10%;
    position: absolute;
}
div.gallery {
    margin: 0px;
    border: 1px solid #ffffff;
    width: 33%;
    align-content: center;
  }
  
  div.gallery:hover {
    border: 1px solid black;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 12px;
    background-color: #ffffff;

  }
  a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color:black ;
  background-color: transparent;
  text-decoration: none;
}
.progress-bar {
  background: black;
  height: 5px;
  width: 0%;
  position: fixed;
  bottom: 65px;
  z-index: 1;
}
